{{>main}}
<div class = "container">

<!-- Modal Edit Member-->
	
<!--Modal Ends Here -->
	<div class ="row">
		<div class="col-md-9 well well-lg">
			<input type="text" name="searchmember" id="searchmember"  placeholder="Search Member ......." size = "24" class="form-control">
				<table class="table table-striped">
					<tr>
						<thead>
							<th>Name</th>
							<th>Profile</th>
							<th></th>
							</th></th>
						</thead>
						<tbody>
							{{#if members}}
								{{#each members}}
									<tr>
										<td style="text-transform: uppercase">{{fname}} {{lname}}</td>
										<th><a href="/members/{{_id}}/saving" class ="btn btn-primary">Make Deposite</a></th>
										<th><a  href="/members/{{_id}}/withdrawal" class ="btn btn-danger">Make Withdrawal</a></th>
										<th><a href="/members/{{_id}}/loan" class ="btn btn-info">Request Loan</a></th>
										<th><a href="/groups/member/{{_id}}/edit" class ="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a></th>
										<th><a href="#" class ="btn btn-danger delete-member" data-id = "{{_id}}"><span class="glyphicon glyphicon-remove"></span> Delete</a></th>
									</tr>
								{{/each}}
							{{/if}}
						</tbody>

					</tr>
				</table>
		</div>
	</div>
</div>

