{{>main}}
<div class="container">
	


 <!--Search Form -->
		 	<div class="row">
		 		<form method="post" name="search"  action="/searchs/officer/loan">
		 			<input name = "id" type ="hidden" value = {{id}}>
			 		<div class="col-md-12  well well-lg">
			 			<div class="row">
			 				<div class="col-md-5">
			 					<div class="input-group">
			 						 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 						<input id="dateFrom" name="dateFrom" type="text" placeholder="Select Date from 12/03/2017" class="form-control">
			 					</div>
			 				</div>
			 				<div class="col-md-5">
			 					<div class="input-group">
			 						 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 						<input id="dateTo"  name="dateTo" type="text" placeholder="Select Date To 4/4/2017" class="form-control">
			 					</div>
			 				</div>
			 			</div><p>
			 			<div class="row">
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "date" checked>Date
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "today">Today
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "yesterday">Yesterday
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "1week">1 Week Ago
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "amonth">A Month Ago
			 				</div>
			 				<div class="col-md-2">
			 					<input type = "submit" value = "Search" class="btn btn-info"
			 				</div>
			 				</div>
			 			</div>
		 		</div>
		 		</form>
		 	</div>

<!-- Loan list -->
		<h3>{{member.fname}} {{member.lname}}, Loan History</h3>
		<div class = "row">
			<div class="col-md-8">
				<table class= "table table-striped">
					<tr>
						<thead>	
							<th>No</th>
							<th>Date</th>
							<th>Name</th>
							<th>Group</th>
							<th>Loan</th>
							<th>Balance</th>
							<th>Deposit</th>
							<th>Repaid</th>
							<th>Total</th>
							<th>SC 10%</th>
							<th>Interest 15%</th>
							<th>Status</th>
							<th>Stage</th>
						</thead>
						<tbody>
								 
							{{#if loans}}
								{{#each loans}}
									<tr>
										<td>  {{no}} </td>	
										<td>{{date}}</td>
										<td>{{name}}</td>
										<td>{{groupname}}</td>
										<td>{{amount}}</td>
										<td>{{balance}}</td>
										<td>{{deposit}}</td>
										<td>{{repayment}}</td>
										<td>{{totalrepayment}}</td>
										<td>{{charges}}</td>
											<td>{{interest}}</td>
										<td><strong>{{status}}</strong></td>
										<td>{{stage}}</td>
										<td><a href ="/members/{{../id}}/repayment/{{_id}}" class="btn btn-success" >Repay History</a></td>
										<td><a href ="#" class="btn btn-primary confirm-loan" data-id= "{{_id}}" data-value = "{{status}}" >Confirm</a></td>
										<td><a href ="#" class="btn btn-danger delete-loan" data-id = "{{_id}}" > Delete</a></td>
									</tr>
								{{/each}}
								<tr>
										<th colspan=3>Total</th>
								</tr>
							{{/if}}
						</tbody>
					</tr>

				</table>
			</div>
		</div>

	</div>