{{>main}}
<div class="container">
	

        <div class="row">
                <div class="col-md-8 col-md-offset-1">
            {{#if officerGroup}}            
                        <div class="panel panel-danger">
                                <div class="panel-heading">
                                        <h4>Officer Payment</h4>
                                    </div>
                                    <div class="panel-body text-center">
                                        <form name= "form1" method="post" action="/officers/payment">
                                        <input  type="hidden" name="id" value ="{{id}}" >
                                        <input  type="hidden" name="fname" value ="{{member.fname}}">
                                        <input  type="hidden" name="lname" value ="{{member.lname}}">
                                        <input  type="hidden" name="totalBalance" value ="{{accounts.totalBalance}}">
                                        <input  type="hidden" name="totalLoan" value ="{{accounts.totalLoan}}">
                                        <input  type="hidden" name="totalRepayment" value ="{{accounts.totalRepayment}}">
                                        <input  type="hidden" name="lastPayment" value ="{{lastPayment}}">
                                        <div class="form-group">
                                            <label>Amount</label><span class="text-danger"> *</span>
                                            <input type="text" name = "amount" placeholder="Amount to Pay" class="form-control" required>            
                                                        
                                        </div>

                                        <div class="form-group">
                                          <p>  <labe class="panel-heading"><strong><u>Payement Type</strong></u></label><p>
                                        </div>

                                         <div class="form-group">
                                            <label>Cash</label><span class="text-danger"> *</span>
                                            <input type="radio" name = "type" value="Cash">
                                            <label>Bank</label><span class="text-danger"> *</span>
                                            <input type="radio" name = "type" value="Bank" checked="checked">             
                                                        
                                        </div>

                                                   
                                        <div class="form-group">
                                                       
                                         <input  type="submit" class="btn btn-primary btn-block" placeholder="name of expense">
                                        </div>
                                            </form>
                                    </div>
                            </div>
                {{/if}}
                    </div>
            </div>
<!-- Current Account -->
        <div class="well well-lg">
                    <div class="row">
                        <div class="col-md-4">
                            <strong class="text-success">Current Saving Deposit: {{accounts.totalBalance}}</strong>
                        </div>
                         <div class="col-md-4">
                            <strong class="text-primary">Current Repayment: {{accounts.totalRepayment}}</strong>
                        </div>
                         <div class="col-md-4">
                                <strong class="text-danger">Current Loan: {{accounts.totalLoan}}</strong>
                        </div>
                    </div>
                </div>

<!-- List recent Expenses -->

                <h3 >Payments History</h3>
                <div class="row">
                                <div class="col-md-8 col-md-offset-1">
                                        <table class="table table-striped">
                                                <tr>
                                                        <thead>
                                                                <th>No</th>
                                                                <th>date</th>
                                                                <th>Type</th>
                                                                <th>Officer</th>
                                                                <th>Paid</th>
                                                                <th>Balance</th>
                                                                <th>Saving</th>
                                                                <th>Repayment</th>
                                                                <th>Laon</th>
                                                        </thead>
                                                </tr>
                                                <tbody>
                                                      {{#if payments}}
                                                        {{#each payments}}
                                                         <tr>
                                                                <td> {{no}}</td>
                                                                <td> {{date}}</td>
                                                                <td> {{type}}</td>
                                                                <td> {{officer}}</td>
                                                                <td>{{paid}}</td>
                                                                <td> {{balance}}</td>
                                                                <td> {{saving}}</td>
                                                                <td> {{repayment}}</td>
                                                                <td> {{loan}}</td>
                                                            </tr>
                                                         
                                                        {{/each}}
                                                      {{/if}}  
                                                </tbody>
                                        </table>
                                 </div>
                 </div>

	</div>