{{>main}}
<div class = "container">
	<div class ="row">
		<div class="col-md-9 col-md-offset-1 well well-lg">
			<input type="text" name="searchmember" id="searchmember"  placeholder="Search Member ......." size = "24" class="form-control">
				<table class="table table-striped">
					<tr>
						<thead>
							<th>Name</th>
							<th>Group</th>
							<th>Profile</th>
							<th></th>
							</th></th>
						</thead>
						<tbody>
							{{#if members}}
								{{#each members}}
									<tr>
										<td>{{fname}} {{lname}}</td>
										<td>{{fname}} {{group}}</td>
										<th><a href="/members/{{_id}}/saving" class ="btn btn-primary">Make Deposite</a></th>
										<th><a  href="/members/{{_id}}/withdrawal" class ="btn btn-danger">Make Withdrawal</a></th>
										<th><a href="/members/{{_id}}/loan" class ="btn btn-success">Request Loan</a></th>
									</tr>
								{{/each}}
							{{/if}}
						</tbody>

					</tr>
				</table>
		</div>
	</div>
</div>

