{{>main}}
<div class="container">
	




<p>
 <!--Search Form -->
		 	<div class="row">
		 		<form method="post" name="search"  action="/searchs/officer/withdrawal">
		 			<input name = "id" type ="hidden" value = {{id}}>
			 		<div class="col-md-10  well well-lg">
			 			<div class="row">
			 				<div class="col-md-5">
			 					<div class="input-group">
			 						 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 						<input id="dateFrom" name="dateFrom" type="text" placeholder="Select Date from 12/03/2017" class="form-control">
			 					</div>
			 				</div>
			 				<div class="col-md-5">
			 					<div class="input-group">
			 						 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 						<input id="dateTo"  name="dateTo" type="text" placeholder="Select Date To 4/4/2017" class="form-control">
			 					</div>
			 				</div>
			 			</div><p>
			 			<div class="row">
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "date" checked>Date
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "today">Today
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "yesterday">Yesterday
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "1week">1 Week Ago
			 				</div>
			 				<div class="col-md-2">
			 					<input name= "option" type="radio" value = "amonth">A Month Ago
			 				</div>
			 				<div class="col-md-2">
			 					<input type = "submit" value = "Search" class="btn btn-info"
			 				</div>
			 				</div>
			 			</div>
		 		</div>
		 		</form>
		 	</div>

<!-- withdrawals list -->
		<h3>{{member.fname}} {{member.lname}},  Withdrawals Account</h3>
		<div class = "row">
			<div class="col-md-7 col-md-offset-1">
				<table class= "table table-striped">
					<tr>
						<thead>	
							<th>No</th>
							<th>Date</th>
							<th>name</th>
							<th>Group</th>
							<th>Deposite</th>
							<th>Balance</th>
						</thead>
						<tbody>
								 
							{{#if withdrawal}}
								{{#each withdrawal}}
									<tr>
										<td>  1 </td>
										<td>{{date}}</td>
										<td>{{name}}</td>
										<td>{{groupname}}</td>
										<td>{{amount}}</td>
										<td>{{balance}}</td>
									</tr>
								{{/each}}
							{{/if}}
						</tbody>
					</tr>

				</table>
			</div>
		</div>

	</div>